* {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    box-sizing: border-box;
}


.hero {
    width: 100%;
    background-color:black;
    background-size: cover;
    background-position: center;
    border: 2px solid green;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 45px;
    padding-left: 8%;
    padding-right: 8%;
}
.logo {
    color:white;
    font-size: 35px;
    letter-spacing:1px;
    cursor: pointer;
}
span {
    color:aqua;
}
nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 10px 25px;
}
nav ul li a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
}
nav ul li a:hover{
    color:aqua;
    transition: 0.4s;
}
.btn{
    background-color: aqua;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 10px 25px;
    border-radius: 30px;
    transition: transform .4s;

}
.btn:hover {
    transform: scale(1.2);
}

.content {
    justify-content: center;
    margin: 20px;
    padding: 10px; 
    display: inline-block;
    text-align: center;
    width: 100%;
    height: auto;
}

.container {
    display: flex;
    align-content: center;
    justify-content: center;
}    

.container .about-text {
    background-color: black;
    color: white;
    margin: 20px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: calc(100% / 2);
}

.container .skills {
    margin: 20px;
    padding: 10px;
    width: calc(100% / 2);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    object-fit: cover;

}

h1{
    color: white;
    margin: 20px 0px 20px;
    font-size: 75px;
    letter-spacing: 4px;
}

h2{
    padding: 30px;
    color: aqua;
}
h3{
    color: white;
    font-size: 25px;
    margin-bottom: 50px;
}
h4{
    color:aqua;
    letter-spacing: 2px;
    font-size:20px;
}
h5 {
  margin-bottom: 20px;
  
}
.newsletter form{
    width:380px;
    max-width:100%;
    position: relative;
    display: inline-block;
}
.newsletter form input:first-child{
    display: inline-block;
    width: 100%;
    padding: 14px 130px 14px 15px;
    border: 2px solid aqua;
    outline: none;
    border-radius: 30px;
}
.newsletter form input:last-child{
    position: absolute;
    display: inline-block;
    outline: none;
    border: none;
    padding: 10px 30px;
    border-radius: 30px;
    background-color: aqua;
    box-shadow: 0px 0px 5px #000, 0px 0px 15px #858585;
    top: 6px;
    right: 6px;
}

.main {
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.listSkills{
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 3;
}

ul li:hover {
  transform: scale(1.06);
  box-shadow: 2px 2px 5px aqua;
  transition: 0.4s;
    
}

.listSkills {
    color: white;
}

.projectsHeader {
    text-align: center;
    font-size: 4rem;
    padding: 20px;
    margin: 40px;
}
